html {
       box-sizing: border-box;     
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}



/* span {
	position: relative;
	top: 325px;
	left: 425px;
} */

/* button {
	position: relative;
	top: 355px;
	left:205px;
} */



.first-image, .second-image, .third-image {
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
}

.first-image {
	background-image: url(./Images/image1.jpg);
	min-height:650px;
	opacity:0.8
}

.second-image {
	background-image: url(./Images/image2.jpeg);
	min-height:640px;
}

.third-image {
	background-image: url(./Images/image3.jpg);
	min-height:640px;
}

section {
	text-align: center;
	padding: 3rem 5rem;;
}

.first-image-content {
	background-color: #f4f4f4;
	color: #0f0f0f;
}

.second-image-content, .third-image-content {
	background-color: #282e34;
	color:whitesmoke;
}

/* span {
	color:white;
	text-align: center;
	margin: 10rem 8rem;;
} */

/* .image {
	display: flex;
	justify-content: center;
	align-items: center;
} */

.image {
	display: flex;
	position: relative;
}

.image div {
	position: absolute;
	top:50%;
	width:100%;
	text-align: center;
	color:white;
	font-size: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.first-image div span{
	color : whitesmoke;
	background-color: #111;
	padding:20px;
}