.home-title {
	font-size: 3rem;
	letter-spacing: 1rem;
	margin-top: 5rem;
}

.login-wrapper {
	width:600px;
	margin: 50px auto;
}

.login-wrapper .signup-btn {
	color: black;
	cursor: pointer;
	margin: 20px auto;
	padding: 1rem;
}

.login-wrapper .signup-btn:hover {
	text-decoration: underline;
}

.input-group {
	margin-bottom: 1.5rem;
}

.login-wrapper h4{
	font-size:2rem;
	letter-spacing: 3px;
}
	