#price-filter-label-min {
            flex-basis: 65%;
}

.clear-filter {
            background-color:var(--pale-green);
            color:var(--hookish-green);
            width:100%;
}

.product-list-title {
	font-size: 3rem;
	margin: 40px 0;
	font-weight: normal;
            
}

.product-list-sidebar{
	align-self:flex-start;
	position:sticky;
	top:100px;
	/* border: 2px solid black; */
	margin-right: 100px;
	flex-basis: 25%;
}

.product-list-sidebar a {
	padding: 0.8rem 1.5rem;
	font-size:1.2rem;
	color:black;
	border-bottom:1px solid var(--pale-blue);
	background-color: var(--hookish-green);
}

.product-list-sidebar a:last-child{
	border-bottom: 0;
}

#categoryList {
	margin-bottom: 1rem;
}

#categoryList a {
	padding-left: 12px;
}

.product-list-sidebar a:hover{
	background-color: var(--dark-hookish-green);
	font-weight: bold;
}

.sidebar-title {
	margin-bottom: 0.5rem;
}

.sidebar-search {
	margin-bottom:1rem;
}

.clear-filter {
	margin-top: 1rem;
}

.price-filter .price-filter-select > div {
	margin-bottom: 0.5rem;
}


.product-list-box{
	/* border: 2px solid black; */
	flex-basis:75%;
	/* text-align: center; */
}


.product-list-box .product-item {
	/* border:2px solid greenyellow; */
	width:30%;
	margin-right:2%;
	margin-bottom: 30px;
	box-shadow:0px 1px 5px var(--light-gray);
	/* padding:1rem; */
}

.product-list-box .product-item:nth-child(3n) {
	margin-right: 0;
}

.product-list-box .product-item img {
	width:100%;
}

.product-list-box .product-item .product-name {
	font-size: 1rem;
	color:black;
	padding: 0.75rem 0;
}

.product-list-box .product-item .product-price {
	padding-bottom: 10px;
}

.product-list-box .product-item:hover {
	box-shadow: 0px 4px 10px var(--light-gray);
	transition: box-shadow 0.15s linear 0s;
}
